# Created by venv; see https://docs.python.org/3/library/venv.html
# Ambiente virtual Python
venv/
.venv/

# Variáveis de ambiente
.env

# Cache Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db